*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.head{
    text-align: center;
    width: 60%;
    margin: 20% auto;
    color: white;
}
h1{
    line-height: 50px;
    font-size: 46px;
    font-family: 'Times New Roman', Times, serif;
}
span{
    padding: 10px;
    display: block;
    font-size: smaller;
    width: 80%;
    margin: auto;
    line-height: 25px;
}
.btns{
    display: flex;
    margin: auto;
    gap: 20px;
    background-color: transparent;
}
.btn-1{
    background-color: white;
    color: rgba(22, 123, 99, 1);
    padding: 10px 0px;
    border-radius: 5px;
    width: 200px;
    transition: all 0.2s ease;
}
.btn-1:hover{
    background-color: whitesmoke;
    color: rgb(14, 151, 151);
}
.btn-1:active{
    background-color: rgba(22, 123, 99, 1);
    color: white;
}
.btn-2{
    background-color: transparent;
    color: white;
    padding: 10px 0px;
    border-radius: 5px;
    border: 1px solid white;
    width: 200px;
    transition: all 0.2s ease;
}
.btn-2:hover{
    background-color: rgba(255, 255, 255, 0.228);
}